#main{
    margin-top: 1em;
}
.imgContainers{
    background-color: #17D7DE;
        max-width: 200px;
        margin: auto;
        text-overflow: ellipsis;
        max-height: 500px;
        margin-bottom: 3%;
        margin-left: 1%;
        margin-right: 1%;
        display: inline-block;
        border-radius: 10px;
}
.imgContainers:hover{
    animation: PopoutHover .3s forwards ;
    cursor: pointer;
}
@keyframes PopoutHover {
    0%{

    }
    100%{
        transform: scale(1.1);
        background-color: tomato;
    }
}
.capText{
    text-overflow: ellipsis;
    overflow: hidden;
display: -webkit-box !important;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
white-space: normal;
}
.spaceImg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
}
.spaceWidth{
    max-width: 200px;
}
#imageScreen{
    background-color: rgba(10, 10, 10, 0.678);
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: 1;
    top: 0%;
    display: none;
    text-align:center;
}
.imageContainer{
    background-color:#17D7DE;
    margin: auto;
    text-overflow: ellipsis;
    display: inline-block;
    border-radius: 10px;
    margin-top: 3%;
    z-index: 2;
    position: relative;
}
.imageContainer img{
    max-width: 50em;
    max-height: 35em;
    min-width: 30em;
    margin-top: 5px;
}
.newCap{
        max-width: 80%;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin: auto;
        overflow-y: scroll;
}

.likeButton{
    float: right;
    border-radius: 10px;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(14 147 152);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0dcaf0;
  }

  #test{
    width:100%;
    height:100vh;
    position: absolute;
    top:0%;
  }

  #navBar{
      position: relative;
      top: 0%;
      background-color: black;
      text-align: end;
  }
  a {
    font-size: 125%;
    color: white !important;
    text-decoration: none !important;
}
    a:hover{
        text-decoration: underline !important;
        color: white !important;
        background-color: #005b72;
    }

    .noLikes{
        color: rgb(190, 190, 190);
    }
    .noLikesImg{
    width: 7em;
    }
    .likeAnim{
        animation: LikeAnim 1s    forwards ;
    }
    @keyframes LikeAnim {
        0%{

        }
        50%{
            transform: scale(1.3) rotate(5deg);
        }
        100%{
            transform: scale(1) rotate(0deg);
        }
    }

    .info{
        display: none;
    }
    #pageButtons{
        text-align: center;
    }
    #pageButtons p{
        display:inline;
        font-size: xx-large;
    }
    #pageButtons p:hover{
        cursor: pointer;
        color: red;
    }
    .activePage{
        color: red;
    }
    .red
    {
        color: red!important;
    }
    .redCamera
    {
        color: red!important;
    }
    .filters{
        position: fixed;
        z-index: 1;
        float: left;
        height: 100vh;
        width: 25em;
        top: 0%;
        background-color: black;
        margin-left: -22em;
    }
    .filters h4{
        color: white;
    }
    .filters li{
        color: white;
    }
    .filters li:hover{
        cursor: pointer;
        color: orangered;
    }
    .filters h6{
        color: white;
    }
    .dButton{
        display: inline; 
        float: right; 
        margin-right: 15%;
    }
    #CuriosityCameras{
        display: none;
    }
    #OpportunityCameras{
        display: none;
    }
    #SpiritCameras{
        display: none;
    }
    .cameraAnims{
        animation: cameraList .5s    forwards ;
        display: block !important;
        transform-origin:  top;
    }
    @keyframes cameraList {
        0%{
            transform: scaleY(0);
        }
        100%{
            transform: scaleY(1);
        }
    }
    .filterAnim{
        animation: filterAnim .5s    forwards ;
    }
    .filterAnimReverse{
        animation: filterAnimReverse .5s    forwards ;
    }
    @keyframes filterAnim {
        0%{

        }
        100%{
            transform: translateX(22em);
        }
    }
    @keyframes filterAnimReverse {
        0%{
            transform: translateX(22em);
        }
        100%{
            transform: translateX(0em);
        }
    }
    .buttonText{
            visibility: hidden;
            width: 120px;
            background-color: white;
            color: black;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            bottom: 85%;
            left: 82%;
            margin-left: -60px;
            position: absolute;
            z-index: 1;
        }

    .dButton:hover .buttonText{
        visibility: visible;
    }
    #searchBar{
        visibility: hidden;
        background-color: white;
        color: black;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
    }
    #searchBar input{
        width: 2em;
        height: 1em;
    }
    #roverSelScreen{
            height: 100vh;
            width: 100%;
            background-color: #00000045;
            position: fixed;
            z-index: 2;    
    }
    #roverRibbon{
            margin-top: 30vh;
            height: 40vh;
            width: 100%;
            background-color: black;
            position: fixed;
            z-index: 2;
            text-align: center;
    }
    #roverRibbon div{
        width: 10em;
    }
    #roverRibbon li{
        color: white;
    }
    #roverRibbon h3{
            margin-top: 2em;
            font-size: xx-large;
            color: white;
    }
    #roverRibbon div:hover h3{
       border-top: 2px solid white;
       border-bottom: 2px solid white;
       cursor: pointer;
}
